.header {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    align-items: center;
    padding: 30px 50px;
    margin: 0 auto;
    background-color: black;
    z-index: 10;
}
.logo__link {
}
.logo {
    width: 30px;
    height: 30px;
}
.logo__text {
}
.header__nav {
}
.header__nav-list {
    display: flex;
    gap: 50px;
}
.header__nav-item {
}

.current::after {
    content: " ";
    height: 4px;
    width: 100%;
    background-color: rgba(165, 31, 255, 0.753);
    border-radius: 2px;
    margin-top: 15px;
}


.header__nav-link {
    color: #FFF;
}


/* MAIN */
.hero {
    position: relative;
    height: 100vh;
    background-image: url("./images/img/Calcharo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: contain;
}

.hero-thumb {
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid sandybrown;
}

.hero-thumb:hover .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 35, 66, 0.8);
    transform: translateX(0%);
}


.left-thumb {
    left: 150px;
    width: 800px;
    bottom: 300px;
}

.right-thumb {
    width: 450px;
    bottom: 100px;
    right: 100px;
}

/* .img__left{
    width: 600px;
}

.img__right {
    width: 600px;
} */


.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 35, 66, 0.8);
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
}
.overlay__text {
    color: #FFF;
}
#anons{
    background-color: #3E3E3E;
}
.slide_menu {
    display: flex;
    background-image: url(/images/img/acheron.jpg);
    background-size: 100vh;
    background-repeat: no-repeat;
    width: 20vw;
    height: 100%;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transform: translateX(-90%);
    transition: all 400ms ease-in-out;
}

.slide_menu:hover{
    transform: translateX(0%);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/img/acheron.jpg);
    background-size: 100%;
}

.slide_menu:hover .anons__text{
    display: none;
}

.anons__list{
    margin-left: 50px;
}

.anons__item {
    color: #ffffff;
    font-size: 32px;
    list-style: georgian;
}

.anons__item:hover,
.anons__item:focus {
    color: rgb(255, 255, 255);
    background-color: #ffffff80;
    border-radius: 10%;
}


.anons__text {
    writing-mode: vertical-rl;
    color: #ffffff;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 32px;
}



.section {
    height: 100vh;
}

#gameplay {
    background-color: rgba(0, 0, 0, 0.20);
    position: relative;
}




.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    }
    
    
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    }
    

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 1000px;
    min-height: 650px;
    padding: 40px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.close__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
}

.close__btn:hover
.close__btn:focus {
    border: 1px dashed rgb(108, 168, 247);
    fill: rgb(108, 168, 247);
}

.icon-close {
    width: 18px;
    height: 18px;
}

.modal__title {
    margin-bottom: 30px;
    color: #3E3E3E;
    font-family: "Titillium Web", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
}

.modal__form {
}
.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__input-thumb{
    position: relative;
}

.modal__input {
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #FFF;
    width: 557px;
    padding: 30px 46px;
}

.label-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 18px;
    height: 18px;
}

.modal__send-btn {
    border-radius: 500px;
    background: #FAD34F;
    width: 218px;
    height: 73px;

        color: #FFF;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

iframe {
    position: absolute;
    top: -5%;
    right: -20%;
    border-radius: 50%;
}